/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2019, 16:25:53
    Author     : wemerson
*/

/*body {font-family: Arial;}*/

.tab {
  overflow: hidden;
  margin-left: 10rem;
  margin-right: 6rem;
  /*border: 1px solid #ccc;*/
  background-color: #ffffff;
  /*background-color: #f1f1f1;*/
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 10px;
  transition: 0.3s;
  font-size: 20px;
  margin: 0 2rem;
}

.tab button:hover {
  /*background-color: #ddd;*/
  text-decoration: none;
  color: #ddd;
}

.tab button.active {
  /*background-color: #ccc;*/
  text-decoration: none;
  color: #cc0000;
}

.tabcontent {
  display: none;
  padding: 6px 10px;
  /*border: 1px solid #ccc;*/
  border-top: none;
}

.iten {
    margin-left: 1rem;
    margin-right: 4rem;
}

.colu{
    text-align: left;
    width: 200px;
    height: 100px;
}

.container_tab {
    border: 1px solid #111111;
    display: flex;
    margin: 3rem 15rem 5rem 15rem;
    justify-content: center;
    background: #FFFFFF;
}